body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #333;

}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000000;
}

header nav a {
    margin: 0 20px;
    text-decoration: none;
    color: #bd7304;

}

header nav a:hover {
    color: #0167ff;
}

h2 {
    color: #bd7304;
    font-size: 2rem;
    margin: 0;
    padding: 1rem;
}

footer {
    background-color: #000;
    color: #bd7304;
    padding: 10px 0;
    text-align: center;
}

footer a {
    color: #bd7304;
}

footer a:hover {
    color: #0167ff;
}

main {
    padding: 5rem;
    color: #8a7604;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

main h1 {
    color: #bd7304;
}

.project a {
    text-decoration: none;
    color: #8a7604;
}

.project a:hover {
    color: #0167ff;
}

.project, .certification, .skills, .experience, .education  {
    border: 5px solid #000000;
    border-radius: 10px;
    width: 500px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.479);
    margin: 5rem;
}

.skills_div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    gap: 100px;
}

@media screen and (max-width: 850px) {
    .project, .certification, .skills, .experience, .education {
        width: 300px;
        height: 200px;
        margin: 5rem 0;
        font-size: 1vh;
    }
    
}