body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #333;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000000;
}

header nav a {
    margin: 0 20px;
    text-decoration: none;
    color: #bd7304;

}

header nav a:hover {
    color: #0167ff;
}

h2 {
    color: #bd7304;
    font-size: 2rem;
    margin: 0;
    padding: 1rem;
}

footer {
    background-color: #000;
    color: #bd7304;
    padding: 10px 0;
    text-align: center;
}

footer a {
    color: #bd7304;
}
